<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>@ngx-gallery</span>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/lazy">Lazy</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<!-- <script>
var app = angular.module('myApp', ['dropbox'])
  .config(function (DropboxProvider) {
    DropboxProvider.config(<APP_KEY>, <REDIRECT_URI>);
  }).controller('DropboxCtrl', function ($scope, Dropbox) {
    // assign a promise to scope
    $scope.accountInfo = Dropbox.accountInfo();

    // or use callbacks
    Dropbox.copy('dir/image1.jpg', 'dir/image2.jpg').then(function (res) {
      Dropbox.move('dir/image1.jpg', 'dir/image.jpg').then(function (res) {
        $scope.photos = Dropbox.stat('dir');
      });
    });

  });
</script> -->
